.accordion-container {
  border-bottom: 1px solid var(--light);
  padding-bottom: 18px;
}

.accordion-container:not(:last-child) {
  margin-bottom: 16px;
}

.accordion-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.accordion-question {
  color: var(--dark-gray);
}

.accordion-flex:hover .accordion-question {
  transition: all 0.2s ease-in-out;
  color: var(--orange);
}

.accordion-toggled .accordion-flex:hover .accordion-question {
  color: var(--black);
}

.accordion-answer {
  overflow: hidden;
  color: var(--gray);
  max-height: 0;
}

.accordion-toggle-btn {
  cursor: pointer;
  background: none;
  border: none;
}

/* Accordion toggled styles */

.accordion-toggled .accordion-toggle-btn {
  transition: all 0.2s ease-in-out;
  transform: rotate(-180deg);
}

.accordion-toggled .accordion-question {
  color: var(--black);
  font-weight: 600;
}

.accordion-toggled .accordion-answer {
  transition: max-height 0.2s ease-in-out;
  max-height: 500px;
  margin-top: 11px;
}
