.card {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  background: #fff;
  margin: 0 auto;
  box-shadow: 0 50px 50px -20px rgba(53, 18, 122, 0.5);
  border-radius: 23px;
  max-width: 920px;
  width: 100%;
}

.card-content {
  padding: 90px 95px 0 0;
  max-width: 445px;
  width: 100%;
}

.card-title {
  display: inline-block;
  color: var(--black);
  margin-bottom: 43px;
}

.card-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background: no-repeat url('./assets/bg-pattern-desktop.svg');
  background-position: 120% 65%;
  background-size: 200%;
  min-height: 500px;
}

.card-img-main {
  position: relative;
  right: 88px;
}

.card-img-main-mobile {
  display: none;
}

.card-img-box {
  position: absolute;
  max-width: 170px;
  left: -9%;
  top: 42%;
}

@media (max-width: 1250px) {
  .card-img-box {
    max-width: 130px;
    left: -7%;
  }
}

@media (max-width: 1000px) {
  .card-img-box {
    max-width: 110px;
    left: -6%;
    top: 45%;
  }
}

@media (max-width: 950px) {
  .card-img-box {
    max-width: 90px;
    left: -5.5%;
    top: 46%;
  }
}

@media (max-width: 900px) {
  .card {
    flex-direction: column;
  }

  .card-content {
    max-width: none;
    padding: 132px 25px 48px 25px;
  }

  .card-title {
    display: block;
    text-align: center;
  }

  .card-img-main {
    margin-bottom: 25px;
    right: 0;
  }

  .card-img-main-desktop,
  .card-img-box {
    display: none;
  }

  .card-img-main-mobile {
    display: block;
  }

  .card-img-container {
    display: block;
    position: absolute;
    top: -109px;
    left: 48%;
    transform: translateX(-50%);
    background: no-repeat url(./assets/bg-pattern-mobile.svg);
    background-position: 100% 95%;
    background-size: 90%;
    min-height: 0;
  }
}

@media (max-width: 450px) {
  .card-content {
    padding-top: 120px;
  }

  .card-img-main {
    max-width: 240px;
  }

  .card-img-container {
    background-position: 100% 85%;
    top: -98px;
    left: 45%;
  }

  .card-title {
    margin-bottom: 38px;
  }
}
